header, .icono, .menu, .portada, .portada__textos, .portada__imagen,
 .portada__avatar, .portada__contenedor, .marco,
 .principal, .contenedor__datos, .datos, .indicadores,
 .indicador__cursos, .indicador__imagen, .indicador__proyectos--pendientes,
 .indicador__proyectos--en_curso, .indicador__proyectos--terminados,
  .contenido, .caja, footer{
    border: 1px solid black;
}

.padding2px{
    padding: 2px;
}

.no_margen{
    margin: 0; 
}

.flex{
     display: flex;
}

Header, .portada{
    justify-content: space-between;
}

body{
    background-color: #acdbdf;
}

header{
    padding: 5px;
    background-color: #010101;
    color: white;
}

.portada{
    padding: 10px;
    background-color: #69779b;
}

.portada__textos{
    width: 200px;
}

.portada__imagen{
    width: 250px;
}

.portada__avatar{
    width: 133px;
}

.portada__contenedor{
    
}

.marco{
    margin: 0 5%;
}

.principal{
    background-color: #f0ece2; 
}

.principal, .contenido{
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
    
}

.contenedor__datos, .indicadores{
    width: 350px;
    
}

.contenedor__datos, .datos{
    /* padding: 2px; */
}

.contenedor__datos{
    background-color: #010101;
    color: white;
}

.datos{
    background-color: #f0ece2;
    color: black; 
}

.indicadores{
    background-color: #010101;
    color: white;
    margin-top: 5px;
}

.indicador__cursos, .indicador__proyectos--en_curso,
 .indicador__proyectos--pendientes, .indicador__proyectos--terminados{
    background-color: #f0ece2;
    color: black;
}

.contenedor_de_contenido{
    /* background-color: #010101;
    color: white; */
}

.division{
    background-color: #010101;
    color: white;
    height: 30px;
    text-align: initial;
    padding: 20px;
}
.contenido{
    background-color: #f0ece2;
}

.caja{
    width: 300px;
    margin: 2px;
    padding: 3px;
    color: black;
}

.caja__flex{
    justify-content: space-between;
}

.tilde{
    background-color: red;
}

footer{
    height: 300px;
    background-color: #010101;
    color: white;

}

