body
{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
}

header
{
    background: black;
    color: white;
    font-weight: bold;
    margin: 0px;
    font-size: 28px;
    text-align: left;
    padding: 2px;
    height: 60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,5);
}

.logo
{
    margin: 0px;
    margin-left: 10px;
    display: flex;
}

.logo-imagen
{
    block-size: 50px;
    align-self: center;
}

.logo-titulo
{
    margin-left: 10px;
    align-self: center;
}

.menu
{
    /*background: darkblue;*/
    color: rgb(64, 146, 167);
    padding: 0em;
    margin: 0px;
    height: 75px;
    display: flex;
    align-items: center;
}

ol,
li
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 1em;
}

header ol
{
    display: flex;
}

.linkinterno
{
    color: white;
    background: black;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 0px 10px;
}

.columna
{
    padding: 5%;
    padding-top: 0px;
    margin: 0px 5%;
}

.portada
{
    background: grey;
    color: white;
    padding: 0.5em;
    border: 1px solid white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: none;
    margin: 5px;
    margin-bottom: 25px;
}

.portada-titulo
{
    font-size: 28px;
}

h2
{
    text-align: left;
    background: black;
    border: 1px solid white;
    border-radius: 15px ;
    color: white;
    block-size: 1em;
    padding: 1em;

}

.objetivos
{
    background: darkblue;
    color: white;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 15px;
    margin: 5px;
}

.link-texto
{
    color: white;
}

.arriba
{
    display: flex;
    block-size: 50px;
    background: grey;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px
}

.arriba-link
{
    margin: auto 0 auto auto;
    display: block;
    text-decoration: none;
    padding-top: 5px;
    width: 100px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    background: black;
    color: white;
    font-weight: bold;
}


.columna
{
    border: 1px solid black;
    background: grey;
}


.portafolio
{
    background: darkblue;
    color: white;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 15px;
    margin: 5px;
}

.experiencia
{
    background: darkblue;
    color: white;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 15px;
    margin: 5px;
    
}

.experiencia h3
{
    /* border: 1px solid red; */
    padding: 0px;
}

.experienci-div-titulo
{
    font-size: 24px;
}

.experiencia-cuerpo
{
    padding: 10px;
    display: flex;
}

.experiencia-cursos
{
    /* border:1px solid red; */
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px;
    background: grey;
    margin: 3px;
    width: 250px;
}

.experiencia-imagenes
{
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.contacto
{
    background: darkblue;
    color: white;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 15px;
    margin: 5px;
}

.pie
{
    background: black;
    color: white;
    font-weight: bold;
    margin: 0px;
    font-size: 28px;
    text-align: center;
    padding: 1em;
    padding-bottom: 10em;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,5);
}